---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for page in site.pages %}
      {% if page.plot == true %}
        <li>
          <h2>
            <a class="page-link" href="{{site.baseurl}}{{page.url}}">
            {{ page.title }}
            </a>
          </h2>
        </li>
      {% endif %}  
    {% endfor %}
  </ul>

<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
